<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Mastermind.MastermindSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MastermindDataBase" connectionString="Data Source=.;Initial Catalog=OmidPayamak;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <Mastermind.MastermindSettings>
      <setting name="UseDatabase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\magisterka\Mastermind\Database\Mastermind.mdf;Integrated Security=True;Connect Timeout=30</value>
      </setting>
      <setting name="StoreIndividuals" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BatchTesting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StorePopulations" serializeAs="String">
        <value>False</value>
      </setting>
    </Mastermind.MastermindSettings>
  </applicationSettings>
</configuration>